<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>Emsidi</title>
  <meta charset="UTF-8">
  <title> Home </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
          crossorigin="anonymous"
  ></script>
  <script
          src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js
"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="container" sec:authorize="hasAuthority('Manajer')">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Tambah Cabang Emsidi</h2>
        <br>
        <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
          Nama Cabang : <br>
          <input required class="form-control" type="text" name="namaCabang"/>
          <br><br>

          Alamat : <br>
          <input required class="form-control" type="text" name="alamatCabang"/>
          <br><br>

          Nomor Telepon : <br>
          <input required class="form-control" type="text" name="noTeleponCabang"/>
          <br><br>

          Waktu Buka : <br>
          <input required class="form-control" type="time" name="waktuBuka" />
          <br><br>

          Waktu Tutup : <br>
          <input required class="form-control" type="time" name="waktuTutup" />
          <br><br>

          <!-- Mencoba latihan no 3-->
<!--          <button type="submit" value="Add row" name="add" class="btn btn-outline-light"></button>-->
          Nama Menu : <br>
          <button class="btn btn-warning" type="submit" name="add">Add row</button>
          <table>
            <thead>
            <tr>
<!--              <th class="font-weight-normal">Nama Menu </th>-->

<!--              <input required class="form-control" type="text" name="namaMenu" />-->

            </tr>
            </thead>
            <tbody>
            <tr th:each="menu, iterationStatus : *{listMenu}">
              <td>
<!--                <div class="form-group">-->
<!--                    <input-->
<!--                    type="text"-->
<!--                    name="namaMenu"-->
<!--                    class="form-control"-->
<!--                    th:field="*{listMenu[__${iterationStatus.index}__].namaMenu}"-->

<!--                    />-->
<!--                </div>-->
                  <select name="noMenu" th:field="*{listMenu[__${iterationStatus.index}__].noMenu}"
                          class="form-control">
                      <div th:each="menuEx, iterationStatus2 : ${listMenuExisting}">
                          <option th:value="${menuEx.noMenu}" th:text="${menuEx.namaMenu}"></option>
                      </div>
                  </select>
                    <!-- dropdown gabisa di klik knp ya-->
<!--                  <select th:field="*{listMenu[__${iterationStatus.index}__].noMenu}"-->
<!--                          class="form-control">-->
<!--                      <option th:each="menu : ${listMenu2}">-->
<!--                          th:value="${menu.noMenu}"-->
<!--                          th:text="${menu.namaMenu}"-->
<!--                      </option>-->
<!--                  </select>-->

              <td>
                <td>
                    <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"
                            name="deleteRow">Hapus</button>
                </td>
<!--              <button type="submit" name="remove" th:value="${iterationStatus.index}" class="btn btn-danger">Hapus baris</button>-->
            </td>

              </td>
            </tr>
            </tbody>
          </table>

          <button class="btn btn-primary" type="submit" name="sub">Submit</button>
          <a class="btn btn-primary" href="/">Cancel</a>

        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>