<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <title>Emsidi</title>
  <meta charset="UTF-8">
  <title> Cabang </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
          crossorigin="anonymous"
  ></script>
  <script
          src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js
"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Detail Cabang</h2>
        <br>
        <p th:text="'Nomor Cabang : ' + ${cabang.noCabang}"></p>
        <p th:text="'Nama Cabang : ' + ${cabang.namaCabang}"></p>
        <p th:text="'Alamat Cabang : ' + ${cabang.alamatCabang}"></p>
        <p th:text="'Nomor Telepon Cabang : ' + ${cabang.noTeleponCabang}"></p>
        <p th:text="'Waktu Buka : ' + ${cabang.waktuBuka}"></p>
        <p th:text="'Waktu Tutup : ' + ${cabang.waktuTutup}"></p>
<!--        <div class="col">-->
<!--          <h6>Pegawai : </h6>-->
<!--          <div th:each="pegawai : ${listPegawai}">-->
<!--            <p th:text="'Nama : ' + ${pegawai.namaPegawai}"></p>-->
<!--            <p th:if="${pegawai.jenisKelamin == 0}">Jenis Kelamin : Perempuan</p>-->
<!--            <p th:if="${pegawai.jenisKelamin == 1}">Jenis Kelamin : Laki-laki</p>-->
<!--            <hr>-->
<!--            <a class="btn btn-primary" th:href="@{/pegawai/update/} +${cabang.noCabang} + '/' + ${pegawai.noPegawai}">Update Pegawai</a>-->
<!--            <a class="btn btn-primary" th:href="@{/pegawai/delete/} +${cabang.noCabang} + '/' + ${pegawai.noPegawai}">Delete Pegawai</a>-->
<!--          </div>-->
<!--        </div>-->
        <div th:if="*{listPegawai.size() != 0}">
          <form th:action="@{/pegawai/delete}" th:object="${cabang}" method="POST">
              <input type="hidden" th:field="*{noCabang}">
              <input type="hidden" th:field="*{waktuBuka}">
              <input type="hidden" th:field="*{waktuTutup}">
            <table class="table">
                <thead>
                <tr>
                  <th>No</th>
                  <th>No Pegawai</th>
                  <th>Nama</th>
                  <th>Jenis Kelamin</th>
                  <th></th>
                  <th>Hapus</th>
                </tr>
                </thead>
              <tbody>
              <tr th:each="pegawai, iterationStatus : ${listPegawai}"
                  th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${pegawai.noPegawai}"></td>
                <td th:text="${pegawai.namaPegawai}"></td>
                <td th:if="${pegawai.jenisKelamin} == 0">Laki-Laki</td>
                <td th:if="${pegawai.jenisKelamin}">Perempuan</td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/pegawai/update/} +${cabang.noCabang} + '/' + ${pegawai.noPegawai}">Update</a>
                </td>
                <td>
<!--                  <a class="btn btn-sm btn-danger" th:href="@{/pegawai/delete/} + ${pegawai.noPegawai}">Hapus</a>-->
                  <input class="form-check-input" type="checkbox"
                          th:field="*{listPegawai}" th:value="${pegawai.noPegawai}"
                          id="flexCheckDefault">
                </td>
              </tr>
              </tbody>
            </table>
            <input type="submit" value="Delete yang dipilih" class="btn btn-danger">

                            <!-- untuk menu latihan no 4 -->
              <table class="table">
                  <thead>
                  <tr>

                      <th>No Menu</th>
                      <th>Nama</th>
                      <th>Deskripsi</th>
                      <th>Ketersediaan</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="menu, iterationStatus : ${listMenu}">
                      <td th:text="${menu.noMenu}"></td>
                      <td th:text="${menu.namaMenu}"></td>
                      <td th:text="${menu.deskripsiMenu}"></td>
                      <td th:if="${menu.isAvailable} == false">Tersedia</td>
                      <td th:if="${menu.isAvailable} == true">Kosong</td>

                  </tr>
                  </tbody>
              </table>


          </form>
        </div>
        <div th:unless="*{listPegawai.size() !=0}">
          <h2 th:text="'Tidak ada pegawai'"></h2>
        </div>
        <br>
        <a class="btn btn-primary" th:href="@{/pegawai/add/} + ${cabang.noCabang}">Tambah Pegawai</a>
<!--        <a class="btn btn-primary" th:href="@{/cabang/delete/} +${cabang.noCabang} ">Delete Cabang</a>-->
      </div>
    </div>
  </div>
  <a class="btn btn-primary" href="/cabang/viewall">Kembali</a>
</div>

</body>

</html>